<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Discus</title>
  </head>
  <body>

    <div class="container-fluid">
    <br>
      <h5>Discus</h5>
      <br>
      <!-- https://stackoverflow.com/a/19794878/3731467 -->
      <form method="POST" action="/">
        <input type="submit" class="btn btn-outline-primary btn-lg" name="player_throw" value="Fetch record">
      </form>
    </div>

    {% if stored_number %}
    <br>
    <select name=release method="GET" action="/">
        <option value ="{{ releases[0] }}">{{ releases[0] }}</option>
        {% for release in releases[1:] %}
        <option value= "{{ release }}">{{ release }}</option>"
        {% endfor %}

    <div class="container-fluid">
        <p>you chose: {{ release }}</p>
    <br>
    </div>
    {% endif %}

  </body>
</html>
