<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Discus</title>
  </head>
  <body>

    <div class="container-fluid">
    <br>
      <h5>Discus</h5>
      <br>
      <!-- https://stackoverflow.com/a/19794879/3731467 -->
      <form method="POST" action="/">
        <input type="submit" class="btn btn-outline-primary btn-lg" name="release" value="Fetch record">
        <select name=release_dropdown method="GET" action="/">
            {% for release in releases %}
            <option value= "{{ release }}">
                {{ df_popsike[df_popsike['release_id'] == release]['title'].iloc[0] }} - 
                {{ df_popsike[df_popsike['release_id'] == release]['artist'].iloc[0] }}
            </option>"
            {% endfor %}
      </form>
    </div>
    

  </body>
</html>
